---
layout: default
title: Home
---
<div style="background-color: #eee; padding: 15px; margin-bottom: 2em; border-radius: 10px; color: #888; border-color: #ddd; border: 1px;">Hey there! I'm a first time father to a, so far, unborn daughter. I've read a few books on how to do this father thing, but I still feel like I'm wildly unprepared. I post about my experiences and sometimes said things are funny.
<div class="fb-like" data-href="https://facebook.com/talesfromanewdad" data-layout="button" data-action="like" data-show-faces="true" data-share="false" style="float: right; padding-top: 8px;"></div>
</div>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}"><div id="readmore">
      Continue Reading &#10140;</div></a><br/><br/>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
