.readmore{
  background-color: #6a9fb5;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 12px;
  width: 185px;
  float: right;

}

.readmore-text{
  color: #ffffff
}



.fb_iframe_widget span
       {
           vertical-align: baseline !important;
           padding-top: 3px;
       }

.custom-footer{
  background-color: #6a9fb5;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #fff;
  font-size: 12px;
}
